body{
    background-color: forestgreen;
    color: burlywood;
    margin: auto;
    animation-fill-mode: forwards;
    

}

p{
    font-style: italic;
    font-weight: 300;
    margin: auto;
    padding: auto;
}